<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589767727505-b2r87c11l2anvjp3ondgbnuej660s9tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589767727505-b2r87c11l2anvjp3ondgbnuej660s9tc</string>
	<key>API_KEY</key>
	<string>AIzaSyAfIz9zxmOleQIa9AJ3rLrXHv93e5Vh8xw</string>
	<key>GCM_SENDER_ID</key>
	<string>589767727505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskApp</string>
	<key>PROJECT_ID</key>
	<string>todo-list-ec223</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-ec223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589767727505:ios:d44e7e444cb387bfdd6230</string>
</dict>
</plist>